/*=============== General ===============*/
@font-face {
    font-family: "SF Pro Display Regular";
    src: url("../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Regular.otf");
}
@font-face {
    font-family: "SF Pro Display Bold";
    src: url("../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Bold.otf");
}
@font-face {
    font-family: "SF Pro Display Medium";
    src: url("../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Medium.otf");
}
@font-face {
    font-family: "SF Pro Display Black";
    src: url("../fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Black.otf");
}
@font-face{
    font-family:'SFD-Heavy';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Bold.eot?');
    src:url('../fonts/SFD/SFD-Bold.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Bold.woff2'),url('../fonts/SFD/SFD-Bold.woff') format('woff'),url('../fonts/SFD/SFD-Bold.ttf') format('truetype'),url('../fonts/SFD/SFD-Bold.svg#SFD-Bold') format('svg')
}

@font-face{
    font-family:'SFD-SemiBold';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Bold.eot?');
    src:url('../fonts/SFD/SFD-Bold.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Bold.woff2'),url('../fonts/SFD/SFD-Bold.woff') format('woff'),url('../fonts/SFD/SFD-Bold.ttf') format('truetype'),url('../fonts/SFD/SFD-Bold.svg#SFD-Bold') format('svg')
}

@font-face{
    font-family:'SFD-Bold';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Bold.eot?');
    src:url('../fonts/SFD/SFD-Bold.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Bold.woff2'),url('../fonts/SFD/SFD-Bold.woff') format('woff'),url('../fonts/SFD/SFD-Bold.ttf') format('truetype'),url('../fonts/SFD/SFD-Bold.svg#SFD-Bold') format('svg')
}

@font-face{
    font-family:'SFD-Light';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Light.eot?');
    src:url('../fonts/SFD/SFD-Light.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Light.woff2'),url('../fonts/SFD/SFD-Light.woff') format('woff'),url('../fonts/SFD/SFD-Light.ttf') format('truetype'),url('../fonts/SFD/SFD-Light.svg#SFD-Light') format('svg')
}

@font-face{
    font-family:'SFD-Medium';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Medium.eot?');
    src:url('../fonts/SFD/SFD-Medium.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Medium.woff2'),url('../fonts/SFD/SFD-Medium.woff') format('woff'),url('../fonts/SFD/SFD-Medium.ttf') format('truetype'),url('../fonts/SFD/SFD-Medium.svg#SFD-Medium') format('svg')
}

@font-face{
    font-family:'SFD-Regular';
    font-display:auto;
    src:url('../fonts/SFD/SFD-Medium.eot?');
    src:url('../fonts/SFD/SFD-Medium.eot?') format('embedded-opentype'),url('../fonts/SFD/SFD-Medium.woff2'),url('../fonts/SFD/SFD-Medium.woff') format('woff'),url('../fonts/SFD/SFD-Medium.ttf') format('truetype'),url('../fonts/SFD/SFD-Medium.svg#SFD-Medium') format('svg')
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

/*  Home page  */
.bg-linear-custom-home {
    background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%);
}
.home-category-color {
    color: #0e4374;
}

/* Nav */
.nav-background {
    background-color: #2268c6;
}

.text-title-common {
    font-family: SFD-Bold, sans-serif;
}

.text-content-detail {
    font-family: "Times New Roman", Georgia, Serif, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

/* Article detail */
.text-size-description {
    font-size: 15px;
}

/* Article share */
.text-size-10 {
    font-size: 10px;
}
.text-title-share {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.4;
    font-size: 1.6rem;
    color: #212529;
}
.bg-header_share {
    background-color: #F0FFF4;
}
.bg-green_custom_one {
    background-color: #47B267;
}
.bg-green_custom_two {
    background-color: #8dcf49;
}
.text-home_share_color_one {
    color: #505c67;
}
.text-home_share_color_two {
    color: #47B267;
}
.wrap-share_description:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(255,255,255, 1) 1%, rgba(255,255,255, 0) 100% );
    pointer-events: none;
}

/* Video share */
.img-btn_play_thumb {
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}