.top-nav>ul li ul {
    top: 100%;
    margin-top: 0;
    left: 0;
    padding: 10px;
}

@media (min-width:640px) {
    .sm\:col-span-2{grid-column:span 2/span 2}
    .sm\:col-span-10{grid-column:span 10/span 10}

    .side-bar_recent_thumbnail {
        width: 150px;
        height: auto;
    }
}

@media (min-width:768px) {
    .md\:col-span-1{grid-column:span 1/span 1}
    .md\:col-span-2{grid-column:span 2/span 2}
}
